#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
}

body {
display: flex;
flex-direction: column;
}

h1 {
  justify-self: center;
  grid-column: 1 / span 2;
  grid-row: 1;
}
