:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-auto-flow: column;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
}

body {
display: flex;
flex-direction: column;
justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-self: center;
  align-content: center;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.general {
  grid-column: 1;
  grid-row: 2;
  align-content: center;
  display: grid;
  max-width: 50vw;
  justify-self: center;
}

.education {
  grid-column: 1;
  grid-row: 3;
  align-content: center;
  display: grid;
  max-width: 50vw;
  justify-self: center;
}

.experience {
  grid-column: 1;
  grid-row: 4;
  align-content: center;
  display: grid;
  max-width: 50vw;
  justify-self: center;
}

.preview {
  grid-column: 2;
  grid-row: 2 / span 3;
  justify-self: center;
}

input {
  width: 25vw;
}

[class^="delete"] {
  font-size: 18px;
  padding: 1vh 1vw;
  border-radius: 25px;
  display: flex;
  background-color:rgb(237, 17, 17);
  width: fit-content;
  justify-self: center;
  margin-top: 3vh;
}